@import './../../../../styles/global';
.container {
  display: flex;
  height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2, h3{
    margin: 10px;
  }
  h2 {
    font-size: 1.4rem;
    text-align: center;
    color: $background-button;
    font-weight: bold;
  }
  h3 {
    color: $background-button;
    font-size: 1.1rem;
  }
  button {
    @extend styleButton;
    font-size: 1.1rem;
  }

}
