<!--
<p><input type="text" [(ngModel)]="imgParent"/> </p>
<button (click)="toggleImg()">Toggle image</button>
<app-img *ngIf="imgState" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>

@Input
-----------------
Acá se envia con el nombre de la variable del decorador
la informacion al hijo
_____________________
<p>
  <button (click)="downloadPDF()">Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)"/>
  <img *ngIf="imgRta" [src]="imgRta" alt=""/>
</p>
<button (click)="createUser()">Create User</button>
-->
<router-outlet></router-outlet>
<!-- <app-products></app-products>-->
